<a href="https://colab.research.google.com/github/deepeshdandwani/Whatsapp-parsing/blob/main/Whatsapp-parsing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

new test

In [ ]:
import regex
import pandas as pd
import numpy as np
!pip install emoji
import emoji
from collections import Counter
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
from matplotlib.ticker import MaxNLocator
from plotly import express as px
import seaborn as sns
from datetime import *
import datetime as dt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: emoji in /usr/local/lib/python3.9/dist-packages (2.2.0)

In [ ]:
def startsWithDate(s):
    pattern = '^([0-9]+)(\/)([0-9]+)(\/)([0-9]+), ([0-9]+):([0-9]+)[ ]?(AM|PM|am|pm)? -'
    result = regex.match(pattern, s)
    if result:
        return True
    return False

In [ ]:

def startsWithAuthor(s):
    patterns = [
        '([\w]+):',                        # First Name
        '([\w]+[\s]+[\w]+):',              # First Name + Last Name
        '([\w]+[\s]+[\w]+[\s]+[\w]+):',    # First Name + Middle Name + Last Name
        '([+]\d{2} \d{5} \d{5}):',         # Mobile Number (India)
        '([+]\d{2} \d{3} \d{3} \d{4}):',   # Mobile Number (US)
        '([+]\d{2} \d{4} \d{7})'           # Mobile Number (Europe)
    ]
    pattern = '^' + '|'.join(patterns)
    result = regex.match(pattern, s)
    if result:
        return True
    return False

In [ ]:

def getDatapoint(line):
    splitline = line.split(' - ')
    dateTime = splitline[0]
    date, time = dateTime.split(", ")
    message = " ".join(splitline[1:])
    if startsWithAuthor(message):
        splitmessage = message.split(": ")
        author = splitmessage[0]
        message = " ".join(splitmessage[1:])
    else:
        author= None
    return date, time, author, message

In [ ]:
data = []
conversation = '/content/WhatsApp2.txt'
with open(conversation, encoding="utf-8") as fp:
    fp.readline()
    messageBuffer = []
    date, time, author = None, None, None
    while True:
        line = fp.readline()
        if not line:
            break
        line = line.strip()
        if startsWithDate(line):
            if len(messageBuffer) > 0:
                data.append([date, time, author, ' '.join(messageBuffer)])
            messageBuffer.clear()
            date, time, author, message = getDatapoint(line)
            messageBuffer.append(message)
        else:
            messageBuffer.append(line)

In [ ]:

df = pd.DataFrame(data, columns=["Date", 'Time', 'Author', 'Message'])
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:

df

,Date,Time,Author,Message
0,2020-06-20,10:36,None,"+91 94614 15162 created group ""RSSB satsang at..."
1,2022-09-04,07:27,None,Anil Uncle Rs added you
2,2022-09-04,07:41,+91 98292 44229,<Media omitted>
3,2022-09-04,07:43,+91 98292 44229,<Media omitted>
4,2022-09-04,13:26,+91 94604 20082,Radhaswami ji
...,...,...,...,...
12354,2023-03-16,06:53,+91 77930 26488,Radha swami ji
12355,2023-03-16,09:05,None,Your security code with +91 99833 47711 change...
12356,2023-03-16,10:22,+91 94149 21976,<Media omitted>
12357,2023-03-16,11:44,+91 94149 21976,<Media omitted>
12358,2023-03-16,12:18,+91 78777 51125,<Media omitted>

In [ ]:
df.tail()

,Date,Time,Author,Message
12354,2023-03-16,06:53,+91 77930 26488,Radha swami ji
12355,2023-03-16,09:05,None,Your security code with +91 99833 47711 change...
12356,2023-03-16,10:22,+91 94149 21976,<Media omitted>
12357,2023-03-16,11:44,+91 94149 21976,<Media omitted>
12358,2023-03-16,12:18,+91 78777 51125,<Media omitted>

In [ ]:
df.tail().to_csv('data.csv')

In [ ]:
df.timefilter = df[df["Date"].between('2023-3-14','2023-3-16')]

<ipython-input-57-1f999c53c789>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.timefilter = df[df["Date"].between('2023-3-14','2023-3-16')]

In [ ]:
df.timefilter.to_csv('data1.csv')

In [ ]:
import csv

In [ ]:
def keywords():
  keyword=input('Enter the keyword to search\n')
  csv_file=csv.reader(open('/content/data1.csv','r'))
  for row in csv_file:
      if keyword in row[4]:
        print(row[4])

In [ ]:
print('Enter one to serch by keyword\n')
src=int(input('Enter here:\n'))

if src==1:
  keywords()

Enter one to serch by keyword

Enter here:
1
Enter the keyword to search
ji
Radha swami ji
Radha Soami ji 🙏
Radha swami ji
*मनुष्य जन्म का उद्देश्य*  परमात्मा ने सृष्टि की रचना करके इसे चौरासी लाख योनियों में बाँटा है।कई लाख प्रकार के व्रक्ष, कई प्रकार के कीड़े-पतंगें,कई लाख प्रकार के पक्षी,कई लाख प्रकार के पानी के जीव,कई लाख प्रकार के पशु,कई लाख प्रकार के भूत-प्रेत, यक्ष, किन्नर, गन्धर्व,देवी-देवता,इसांन आदि हम अपने कर्मो के अनुसार इस चौरासी के जेलखानों में फँसे हुए है।हमारी आत्मा परमात्मा से मिलकर ही इस जेलखाने से निकल सकती है और परमात्मा हमें यह मनुष्य-चोला केवल इसी लिए बख्शता है कि हम उसकी भक्ति करके देह के बंधनों से छुटकारा पा सकें।अगर मनुष्य के चोले मेंआने का कोई लाभ है तो सिर्फ यही है।इस चोले को यह फख या गौरव प्राप्त है कि इसमें बैठकर परमात्मा से मिलाप किया जा सकता है। *🙏🏻Waheguru jio🙏🏻*
Rsji🙏 Rekha lohani
Radha swami  ji
Radha swami ji
Radha swami ji
Radhasoamiji👏🏻👏🏻 Mrng sewa me 🚗 Kamlesh Kewlani
Guru ki pyarri sadh sanget ji Radhasoamiji👏🏻👏🏻
Radhasoamiji👏🏻👏🏻
Radhasoamiji👏🏻👏🏻 Mrng sewa me 🚗 Kamlesh Kewlani Preeti ji Lathi Time 6:15 AM KESHAV STORE  Pushpa ji Sangtani Reshma ji Jairamdas ji Time 6:25 AM SALASAR BALAJI 👏🏻👏🏻
👏🏻Radhasoamiji👏🏻
Versha ji Panjwani 🙏
Radha swami ji
Radha swami baba ji🌷🌷🙏🙏
Radha swami ji
Radha swami ji